<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Marvel | Y1A</title>
      <link
         rel="icon"
         type="image/png"
         sizes="32x32"
         href="imgs/favicon-32x32.png"
         />
      <link rel="stylesheet" href="/css/circular-std.css" />
      <link
         rel="stylesheet"
         href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
         integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
         crossorigin="anonymous"
         />
      <link rel="stylesheet" href="/css/bootstrap-select.min.css" />
      <!-- <link rel="stylesheet" href="/css/ion.rangeSlider.min.css" /> -->
      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/dataTables.bootstrap.css" />
      <link rel="stylesheet" href="/css/buttons.bootstrap.css" />
      <link rel="stylesheet" href="/css/main.css" />
      <link rel="stylesheet" href="/css/index.css" />
   </head>
   <body onload="myFunction()" style="margin: 0">
      <div id="loader"></div>
      <div id="myDiv" class="animate-bottom">
         <nav class="navbar navbar-fixed-top">
            <div class="container">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                  <a class="navbar-brand" href="#">Marvel Cloud Community</a>
               </div>
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div
                  class="collapse navbar-collapse"
                  id="bs-example-navbar-collapse-1"
                  >
                  <form class="navbar-form navbar-left">
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" />
                     </div>
                     <button type="submit" class="btn btn-success">
                     <i class="fas fa-search"></i> Search
                     </button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                     <!-- close  -->
                     <li class="dropdown messageNontify">
                        <a
                           href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           >
                        <i class="far fa-bell"></i> Notification
                        </a>
                        <span class="">.</span>
                        <ul class="dropdown-menu">
                           <li>
                              <div class="page-header">
                                 <h5><i class="far fa-bell"></i> Notification</h5>
                              </div>
                           </li>
                           <li>
                              <div class="alert alert-warning" role="alert">
                                 Oh snap! Change a few things up and
                                 <a href="#" class="alert-link">try submitting again.</a>
                              </div>
                           </li>
                           <li>
                              <div class="alert alert-warning" role="alert">
                                 Oh snap! Change a few things up and
                                 <a href="#" class="alert-link">try submitting again.</a>
                              </div>
                           </li>
                           <li>
                              <div class="alert alert-warning" role="alert">
                                 Oh snap! Change a few things up and
                                 <a href="#" class="alert-link">try submitting again.</a>
                              </div>
                           </li>
                        </ul>
                     </li>
                     <!-- Account navbar  -->
                     <li class="dropdown">
                        <a
                           href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           >
                        <i class="fas fa-user"></i>
                        saber.mostafa@marvel.edu.eg <span class="caret"></span
                           ></a>
                        <ul class="dropdown-menu">
                           <li>
                              <a href="#"><i class="fas fa-cog"></i> Settings</a>
                           </li>
                           <li role="separator" class="divider"></li>
                           <li>
                              <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-->
         </nav>
         <!-- End Navbar tags -->
         <!-- ====================================================================== -->
         <!-- ------------------------------Job Vacancies-wrapper------------------------ -->
         <div class="class-wrapper">
            <div class="message-container bg-success"></div>

          <div class="create-class" id="create-classy">
            <div class="content">
              <form  id="update-mark" onsubmit="updateMark(event,this)">
                <span class="close" id="closey">X</span>
                <span id="reauth-email" class="reauth-email"></span>
                <span class="error-message" style="color:red"></span>
                <input
                type="text"
                id="mark-input-hiddin"
                class="form-control"
                name="markId"
                placeholder="Enter Subject Name"
                required
                value=""
                style="display: none;"
                autofocus
              />
                <label style="width: 55%;margin: 10px 0;">
                  Total Mark : 
                </label>
               
                    <input
                    type="number"
                    id="totalMarkUpdate"
                    value=""
                    min="1" max="10000"

                    class="form-control"
                    name="totalMark"
                    placeholder="Enter Subject Name"
                  /><label style="width: 55%;margin: 10px 0;">
                    Student Mark : 
                  </label>
                 
                      <input
                      type="number"
                      id="studentMarkUpdate"
                      value=""
                      min="1" max="10000"
                      class="form-control"
                      name="studentMark"
                      placeholder="Enter Subject Name"
                      required
                      autofocus
                    />
  
                  <button class="btn btn-success" id="updateMarkButton" type="submit" >Finish</button>
                </form>
            </div>
          </div>
            <div class="container">
          
               <div class="pageHead">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="page-header">
                           <h1> <%= currentClass %> </h1>
                        </div>
                        <ol class="breadcrumb">
                           <li>
                              <a href="/dashboard"> Dashboard </a>
                           </li>
                           <li>
                              <a href="/class/<%= currentClass %>"> <%= currentClass %> </a>
                           </li>
                           <li class="active"> <%= subject %> </li>
                        </ol>
                     </div>
                     <!-- /.pageHead col -->
                  </div>
                  <!-- /.pageHead row -->
               </div>
               <!-- /.pageHead -->
               <!-- ================================================================= -->
               <!-- ------------------------Job Vacancies-content---------------------- -->
               <div class="class-content">
                  <div class="row">
                     <div class="col-lg-12">
                        <div>
                           <!-- Nav tabs -->
                           <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active edit-mark-tab" 
                                 >
                                 <a
                                    href="#classList"
                                    aria-controls="candidList"
                                    role="tab"
                                    data-toggle="tab"
                                    ><i class="fas fa-users fa-2x"></i> <br />
                                 Class List</a
                                    >
                              </li>
                              <% if(!CurrentSubject.isSubmitted){ %>
                              <li role="presentation" class="add-mark-tab">
                                 <a
                                    href="#studentList"
                                    aria-controls="candidEvaluation"
                                    role="tab"
                                    data-toggle="tab"
                                    ><i class="fas fa-user-check fa-2x"></i> <br />
                                 Student List</a
                                    >
                              </li>
                              <% } %>
                           </ul>
                           <!-- -------------------- location.re ----------------------->
                           <div class="tab-content">
                              <div
                                 role="tabpanel"
                                 class="tab-pane fade in active"
                                 id="classList"
                                 >
                                 <!-- ---------------Start Job Vacancies Tap---------- -->
                                 <div class="classList-table">
                                    <div class="row">
                                       <div class="col-lg-12">
                                          <% let currentMark = 9 %> 
                                          <div class="CEO-Evalution col-lg-12 edit-mark" style="padding:0;">
                                             <% if(marks.length > 0) { %>
                                             <% for(var i=0; i<students.length; i++){%>
                                             <% if(students[i].marks.map(mark => mark.subject === subject ).includes(true)) { %>
                                             <div class="Personality" id="last-marks">
                                                         
                                                <h3><%= students[i].name.charAt(0).toUpperCase() + students[i].name.slice(1) %>  <span class="text-success" style="margin-left:10px;cursor:pointer;background:white;border-radius:5px;padding:10px;font-size:initial" review="review<%= students[i].id %>" onclick="backToReviewFunction('<%= students[i].id %>')">Back To Review</span> </h3>
                                                <div class="card row" style="
                                                   display: flex;
                                                   flex-direction: column;
                                                   ">
                                                   <% var subjectFromServer ="" %> 
                                                   <% students[i].marks.map(mark => mark.subject === subject ).map((markBool,idx) => { %>
                                                   <% if(markBool){ %> 

                                                   <% if(students[i].marks[idx]["subject"] !== subjectFromServer) { %>
                                                   <h1> 
                                                      <%= students[i].marks[idx]["subject"] %> 
                                                   </h1>
                                                   <% } %> 
                                                   <% subjectFromServer = students[i].marks[idx]["subject"] %> 
                                                   <div>
                                                      <h3><%= students[i].marks[idx]["name"] %>
                                                        <% if(students[i].marks[idx].permission === me.type || me.type==="Leader") {%> 
                                                         <span class="text-success" style="margin-left:20px;cursor:pointer" review="review<%= students[i].id %>" onclick="editFunction('<%= students[i].marks[idx]._id %>')"><i class="fas fa-edit"></i> </span>

                                                         <% } %> 

                                                        </h3>
                                                      <hr/>
                                                      <div class="form-group col-lg-4">
                                                         <label for="">Total Mark</label>
                                                         <input
                                                            type="text"
                                                            update="total-mark<%= students[i].marks[idx]._id %>"
                                                            class="demo<%= students[i].id %>"
                                                            name="<%= students[i].id %> Mid-Term tm"
                                                            value="<%= students[i].marks[idx].totalMark %> "
                                                            id="pointspossible"
                                                            required
                                                            disabled
                                                            />
                                                      </div>
                                                      <div class="form-group col-lg-4">
                                                         <label for="">Student Mark</label>
                                                         <input
                                                            type="text"
                                                            update="student-mark<%= students[i].marks[idx]._id %>"

                                                            class="demo<%= students[i].id %>"
                                                            name="<%= students[i].id %> Mid-Term sm"
                                                            value="<%= students[i].marks[idx].studentMark %> "
                                                            id="pointsgiven"
                                                            required                              disabled
                                                            />
                                                      </div>
                                                      <div class="form-group col-lg-4">
                                                         <label for="">precentage</label>
                                                         <input
                                                            type="text"
                                                            update="precent-mark<%= students[i].marks[idx]._id %>"

                                                            class="demo<%= students[i].id %>"
                                                            name="<%= students[i].id %> Mid-Term sm"
                                                            value="<%= parseInt((students[i].marks[idx].studentMark/students[i].marks[idx].totalMark)*100) %> "
                                                            id="pointsgiven"
                                                            required                              disabled
                                                            />
                                                      </div>
                                                      <!--  -->
                                                   </div>
                                                   <!-- /.card -->
                                                   <% } %>
                                                   <% }) %>  
                                                </div>
                                             </div>
                                             <!-- /.Personality Assessment wrapper -->
                                             <% } %>
                                             <% } %>
                                             <% }else{ %>
                                             <h3> The Teacher Has Not Submitted The Grages Yet :)</h3>
                                             <% } %>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- /.Permission-table -->
                           </div>
                           <!-- /.Permission List Tap -->
                           <!-- ============================================== -->
                           <!-- ---------------Start studentList Tap---------- -->
                           <div role="tabpanel" class="tab-pane fade" id="studentList">
                              <!-- ============================================================ -->
                              <div class="row">
                                 <div class="CEO-Evalution col-lg-12 add-mark"  style="display:none" method="post" action="/class/<%= currentClass %>/<%= subject %>">
                                    <!-- Start Personality Assessment -->
                                    <% var countMark =0; %> 
                                    <% for(var i=0; i<students.length; i++) {%>
                                    <% if(!students[i].markAdd.includes(subject)){ %>
                                    <% countMark+=1 %> 
                                    <form class="Personality <%= students[i].id %>" id="Personality<%= students[i].id %>" onsubmit="onFormSubmit(event,this)">
                                       <h3><%= students[i].name.charAt(0).toUpperCase() + students[i].name.slice(1) %></h3>
                                       <div class="card row" style="
                                          display: flex;
                                          flex-direction: column;
                                          ">
                                          <div>
                                             <h3>Mid-Term</h3>
                                             <hr/>
                                             <div class="form-group col-lg-6">
                                                <label for="">Total Mark</label>
                                                <input
                                                   type="text"
                                                   class="demo<%= students[i].id %>"
                                                   name="Mid-Term tm"
                                                   value="50"
                                                   id="pointspossible"
                                                   />
                                             </div>
                                             <!--  -->
                                             <div class="form-group col-lg-6">
                                                <label for="">Student Mark</label>
                                                <input
                                                   type="text"
                                                   class="demo<%= students[i].id %>"
                                                   name="Mid-Term sm"
                                                   value=""
                                                   id="pointsgiven"
                                                   />
                                             </div>
                                             <!-- onFormSubmit -->
                                          </div>
                                          <div>
                                             <h3>Final-Exam</h3>
                                             <hr/>
                                             <div class="form-group col-lg-6">
                                                <label for="">Total Mark</label>
                                                <input
                                                   type="text"
                                                   class="demo<%= students[i].id %>"
                                                   name="Final-Exam tm"
                                                   value="50"
                                                   id="pointspossible"
                                                   />
                                             </div>
                                             <!--  -->
                                             <div class="form-group col-lg-6">
                                                <label for="">Student Mark</label>
                                                <input
                                                   type="text"
                                                   class="demo<%= students[i].id %>"
                                                   name="Final-Exam sm"
                                                   value=""
                                                   id="pointsgiven"
                                                   />
                                             </div>
                                             <!--  -->
                                             <button type="submit"  id="button<%= students[i].id %>" class="btn btn-primary">Submit </button>
                                          </div>
                                       </div>
                                       <!-- /.card -->
                                    </form>
                                    <!-- /.Personality Assessment wrapper -->
                                    <hr />
                                    <% } %>
                                    <% } %>
                                    <% if(!countMark){ %>
                                    <h3>You Have Finished All The Marks :)</h3>
                                    <% } %> 
                                    <i
                                       class="icon-circle-arrow-right icon-large"
                                       ></i>
                                    </button>
                                    <!-- /.Personality Assessment wrapper -->
                                 </div>
                                 <!-- /.CEO-Evalution -->
                              </div>
                              <!-- /.row -->
                           </div>
                           <!-- /. candid Evaluation Tap -->
                        </div>
                        <!-- /.tab-content -->
                     </div>
                  </div>
                  <!-- /.col -->
               </div>
               <!-- /.row -->
            </div>
            <!-- /.Vacancies Content -->
         </div>
         <!-- /.container -->
      </div>
      <!-- /.Vacancies-wrapper -->
      </div>
      <!-- /.animate-bottom Loader-container -->
      <!-- ============================================================ -->
      <!-- ------------------------JavaScript------------------------------- -->
      <script src="/js/index.js"></script>
      <script src="/js/jquery-3.4.0.min.js"></script>
      <script src="/js/bootstrap-select.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/jquery.dataTables.js"></script>
      <script src="/js/dataTables.bootstrap.js"></script>
      <script src="/js/dataTables.buttons.js"></script>
      <script src="/js/jszip.min.js"></script>
      <script src="/js/pdfmake.js"></script>
      <script src="/js/vfs_fonts.js"></script>
      <script src="/js/buttons.html5.js"></script>
      <script src="/js/buttons.print.js"></script>
      <script src="/js/app.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script>


function backToReviewFunction(id){
   var arr_elms = [];
               
                  
                  $.ajax({
            url: "/class/<%= currentClass %>/mark/<%= subject %>/review",
            type: "patch",
            data:{
               studentId:id
            },
           
            success: function (response) {
               arr_elms = document.body.getElementsByTagName("span");
               var elms_len = arr_elms.length;
      
               for (var i = 0; i < elms_len; i++) {
                  if(arr_elms[i].getAttribute("review") === `review${id}`){  
                     arr_elms[i].style.display="none"
                  }}
                  messageContainer = document.body.getElementsByClassName("message-container");
                  messageContainer[0].innerHTML = `${response}`
                  messageContainer[0].style.display="flex"
                  setTimeout(function(){
                     messageContainer[0].style.display="none"


                   }, 3000);

        } ,error: function(request, textStatus, errorThrown) {
           
console.log(request)
         

        }
      })





}
         const addMark = document.querySelector(".add-mark")
         const editMark = document.querySelector(".edit-mark")
         
         const modely = document.querySelector("#create-classy");
         const closey = document.querySelector("#closey");
         closey.addEventListener('click', (event) => {
            modely.style.display = "none";
         })
         function editFunction(id) {
          modely.style.display = "flex";
          $("#mark-input-hiddin").attr("value", `${id}`); //Will set it
          $("#update-mark").attr("mark-id", `${id}`); //Will set it
        }
        const studentMark = document.querySelector("#studentMarkUpdate")
        const totalMark = document.querySelector("#totalMarkUpdate")
        var totalMarkFromChange
        var studentMarkFromChange
        studentMark.addEventListener('change', (event) => {
         studentMarkFromChange = event.target.value
       })
       
       totalMark.addEventListener('change', (event) => {
         totalMarkFromChange = event.target.value
       })
      
        function updateMark(event ,ele) {
          event.preventDefault();
          const updateMarkButton = document.querySelector("#updateMarkButton")
          const markId = ele.getAttribute("mark-id");
          updateMarkButton.disabled=true
          

                    $.ajax({
            url: "/class/<%= currentClass %>/mark/<%= subject %>/add",
            type: "post",
            data:{
               totalMark : totalMarkFromChange,
               studentMark:studentMarkFromChange,markId
            },
           
            success: function (response) {
               updateMarkButton.disabled=false
               var arr_elms = [];
               arr_elms = document.body.getElementsByTagName("input");
               var elms_len = arr_elms.length;
      
               for (var i = 0; i < elms_len; i++) {
                  if(arr_elms[i].getAttribute("update") === `total-mark${markId}`){  
                     arr_elms[i].value=response.totalMark
                  }if(arr_elms[i].getAttribute("update") === `student-mark${markId}`){  
                     arr_elms[i].value=response.studentMark
                  }if(arr_elms[i].getAttribute("update") === `precent-mark${markId}`){  
                     arr_elms[i].value=(response.studentMark/response.totalMark)*100
                  }}
                  modely.style.display = "none";

        } ,error: function(request, textStatus, errorThrown) {
         updateMarkButton.disabled=false

          document.querySelector(".error-message").innerHTML = request.responseText

        }
      })}
         function onFormSubmit(e,ele){
           e.preventDefault();
           const studentId = ele.className.split(" ")[1];
           const inputs = document.querySelectorAll(`.demo` + studentId)
           const buttony = document.querySelector('#button'+studentId)
           buttony.disabled=true
           marksObject = {}
           for (let i = 0; i < inputs.length; i++) {
             marksObject[inputs[i].getAttribute("name")] = inputs[i].value
             console.log(marksObject)
           }
           $.ajax({
             url: "/class/<%= currentClass %>/<%= subject %>/"+studentId,
             type: "post",
             data:marksObject,
             success: function (response) {
               buttony.disabled=false;
               const mark = response.marks;
               const stundetForm = document.querySelector("#Personality" + studentId)
               stundetForm.style.display = "none"
               var lastMarks = document.querySelector("#last-marks")
              
               let newMark =`
               
               <div class="Personality" id="last-marks">
                   <h3>${response.name}
                   <div class="card row" style="
                   display: flex;
                   flex-direction: column;
                   ">

               `
               mark.map((mk,idx) => {
                  if(mk.subject==="<%= subject %>"){
                 newMark+=`
                 
                 <div>
                       <h3>${mark[idx].name}<span class="text-success" style="margin-left:20px;cursor:pointer" onclick="editFunction('${mark[idx].id}')"><i class="fas fa-edit"></i> </span>
</h3>
                       <hr/>
                       <div class="form-group col-lg-4">
                         <label for="">Total Mark</label>
                         <input
                           type="text"
                           class="demo"
                           name="Mid-Term tm"
                           value="${mark[idx].totalMark}"
                           id="pointspossible"
                           required
                           disabled
                         />
                       </div>
                       <!--  -->
                       <div class="form-group col-lg-4">
                         <label for="">Student Mark</label>
                         <input
                           type="text"
                           class="demo"
                           name=" Mid-Term sm"
                           value=" ${mark[idx].studentMark}"
           
                           id="pointsgiven"
                           required                              disabled
           
                         />
                       </div> <div class="form-group col-lg-4">
                         <label for="">Precentage</label>
                         <input
                           type="text"
                           class="demo"
                           name=" Mid-Term sm"
                           value="${parseInt((mark[idx].studentMark/mark[idx].totalMark)*100)}"
           
                           id="pointsgiven"
                           required                              disabled
           
                         />
                       </div>
                       <!--  -->
                       
                      
                     </div>
                    
                  
                 `}
               })
               newMark+=`
            </div>      
                 
                 <!-- /.card -->
               </div>
`

               $(newMark).insertBefore("#last-marks")
         
         
         
         
         
             },
             error: function(request, textStatus, errorThrown) {
               var nodey = document.createElement("span");                 // Create a <li> node
                 var textnode = document.createTextNode(request.responseText);         // Create a text node
                 nodey.appendChild(textnode);    
                 nodey.style.color="red" 
                 ele.insertBefore(nodey, ele.firstChild);
                 setTimeout(()=>{
                   nodey.style.display="none"
                 },3000)
                 buttony.disabled=false
             }
         });
         }
        
         const addMarkTab = document.querySelector(".add-mark-tab")
         const editMarkTab = document.querySelector(".edit-mark-tab")
         addMarkTab.addEventListener("click", () => {
         
         	addMark.style.display = "block"
         	editMark.style.display = "none"
         });
         
         editMarkTab.addEventListener("click", () => {
         	editMark.style.display = "block"
         	addMark.style.display = "none"
         });
               
         const formMarks = document.querySelector(".Personality")
               
               $(function () {
                 $("#pointspossible").on("input", function () {
                   calculate();
                 });
                 $("#pointsgiven").on("input", function () {
                   calculate();
                 });
                 function calculate() {
                   var pPos = parseInt($("#pointspossible").val());
                   var pEarned = parseInt($("#pointsgiven").val());
                   var perc = "";
                   if (isNaN(pPos) || isNaN(pEarned)) {
                     perc = " ";
                   } else {
                     perc = ((pEarned / pPos) * 100).toFixed(0) + "%";
                   }
         
                   $("#pointsperc").val(perc);
                 }
               });
             
      </script>
      <!-- ============================================================================= -->
   </body>
</html>
